@model ProjectManagementSystem_Prabh.Models.TaskOrderOptionYear

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>TaskOrderOptionYear</h4>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskOrder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskOrder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
